.bgRegister-left{
    background: rgb(57,62,70);
    background: linear-gradient(90deg, rgba(57,62,70,1) 0%, rgba(34,40,49,1) 100%);
}

.bgRegister-right{
    background-color: rgba(34,40,49,1);
}

.bgRegister-left img{
    width: 250px;
}

.bgRegister-left h3{
    color: hsl(0, 0%, 93%);
    font-size: 18px;
    font-weight: 400;
}

.bgRegister-right .forgot{
    color: hsla(0, 0%, 93%, 0.5);
}

.bgRegister-right .forgot{
    color: hsla(0, 0%, 93%, 0.5);
}

.bgRegister-right .login-btn{
    width: 100%;
    background-color: #B1B500;
    color: #eee;
    border-radius: 10px;
    padding: 0.5rem;    
}
